* {
    margin: 0;
    box-sizing: border-box;
}

/*.card {
    background-color: blue;
    border: 5px solid black;
    border-radius: 25px;
    padding: 20px;
    margin: 5px;
    width: 300px;
    height: 300px;
      }

.cardText {
    font: "Lucida Console";
    font-size:  50px;
    font-weight: bolder;
    color: yellow;
    text-align: center;
}*/

body { font-family: sans-serif; }

.pokemonGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scene {
    width: 200px;
    height: 260px;
    border: 1px solid #CCC;
    margin: 40px 0;
    perspective: 600px;
  }
  