* {
    margin: 0;
    box-sizing: border-box;
}

.mainheader {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-color: yellow;
border-width: 3px;
}

figure {
    margin: 1rem;
    padding: .5rem;
    background-color: yellow;
    }

figure img {
    max-height: 12rem;
}

figcaption {
    text-align: center;
    color: black;
    font-style: italic;
    }

.logo {
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

header {
color: yellow;
justify-content: center;
}
    body {
        background-image: url('/images/starryback.jpg');
      }